.left-block{
background-image: url("../images/bg-img.png");
    min-width: 493px;
    height: 100%;
    flex-shrink: 0;
    padding: 48px 0px 84px 32px;


}

@media screen and (max-width:1000px) {
    .left-block{
        width: 100%;
        background-size: cover;    
        padding: 5%;
    }
}