.right-block__medium{

    margin-top: 79px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.right-block__medium-rectangles--black{
    flex-grow: 1;
    height: 165px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #272E37;
    box-shadow: 1px 2px 4px 0px #222831;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 72px 38px 24px;
    padding-top: 12px;
    color: #FFF;
    font-family:"Regular";
    font-size: 20px;
}
.right-block__medium-rectangles--white{
    background: #FFF;
    color: #000;}

.right-block__medium-rectangles-temp{
    
    text-align: center;
    font-family: "Bold", sans-serif;
    font-size: 20px;
}

@media screen and (max-width:1000px) {
    .right-block__medium{
    justify-content: center;
 
    }   
}